@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    background-color: #F5F6FAFF;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}